HELP.md
target/
!.mvn/**
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.mvn/wrapper/maven-wrapper.jar
mvnw.cmd
mvnw

.mvn/**
*.log
LOG_HOME_IS_UNDEFINED/**
src/main/java/com/shixi/hotelmanager/config/RabbitMQConfig.java
src/main/java/com/shixi/hotelmanager/Utils/MessageReceiver.java
src/main/java/com/shixi/hotelmanager/controller/OrderTestController.java
