<!DOCTYPE html>
<html lang="en" xmlns:font-weight="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>

    <script src="/public/assets/css/bootstrap.min.css"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="js/jquery.backstretch.min.js"></script>
</head>


<body onload="initPage()">
<div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 3%">
            <form action="/user/forgetPassword" id="forgetPassword_form" method="post">
                <label for="Telephone" style="font-weight: 700;margin-top: 1%">手机号</label>
                <div class="input-group">

                    <input v-model="telephone" pattern="^[1]([3-9])[0-9]{9}$" id="Telephone" name="Telephone" class="form-control" placeholder="请输入手机号" aria-label="请输入手机号" aria-describedby="button-addon2" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="getCode()"><b>获取验证码</b></button>
                    </div>

                </div>
                <div class="form-group">
                    <small id="TelephoneHelp" class="form-text text-muted">我们不会将您的手机号泄露</small>
                </div>
                <div class="form-group">
                    <label for="code" style="font-weight: 700">验证码</label>
                    <input v-model="verification" type="text" class="form-control" id="code" name="code" placeholder="请输入验证码" required>
                </div>

                <label for="newPassword" style="font-weight: 700">新密码</label>
                <div class="input-group">
                    <input maxlength="64" minlength="6" v-model="newPassword" type="password" class="form-control" id="newPassword" name="newPassword" placeholder="请输入密码" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="show_passwd" onmousedown="mw()" onmouseleave="jm()"><b>按住显示密码</b></button>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 2%">确认</button>
                </div>

            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>

<script>
    var user = new Vue({
        el:"#forgetPassword_form",
        data:{
            telephone:"",
            newPassword:"",
            verification:"",
        }
    });
    function getCode() {
        var j = {"telephone":user.telephone};
        if (verificationTelephone()){
            url = "/verification/sendCode";
            $.post(url,j,function (json) {
                console.log(json.status)
            });
            timer(60);
        }
        else{
            console.log("手机号不正确")
        }
    }
    function verificationTelephone() {
        var telephone = user.telephone;
        var pattern = /^[1]([3-9])[0-9]{9}$/;
        if (!pattern.exec(telephone)) {   //判断
            return false;
        }
        else {
            return true;
        }
    }
    function timer(time) {
        var btn = $("#button-addon2");
        btn.attr("disabled", true);  //按钮禁止点击
        btn.text(time <= 0 ? "发送验证码" : ("" + (time) + "秒后可发送"));
        var hander = setInterval(function() {
            if (time <= 0) {
                clearInterval(hander); //清除倒计时
                btn.text("发送验证码");
                btn.attr("disabled", false);
                return false;
            }else {
                btn.text("" + (time--) + "秒后可发送");
            }
        }, 1000);
    }
    function mw() {
        console.log("mw");
        $("#newPassword").attr("type","text");
    }
    function jm() {
        console.log("jm");
        $("#newPassword").attr("type","password");
    }

    function initPage() {
        $.backstretch("images/register.jpg");
    }
</script>