<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js">
    </script>
</head>
<body>
<form action="/hotel/updateHotel" method="post">
    <input name="Id" placeholder="Id">
    <input name="hotelId" placeholder="hotel_id">
    <input name="chainName" placeholder="chainName">
    <input name="brandId" placeholder="brandId">
    <input name="hotelName" placeholder="hotelName">
    <input name="url" placeholder="url">
    <input type="submit">
</form>

</body>
</html>
